<div class="card bg-dark-grey text-white custom-card">
  <h5 class="card-header bg-light-grey text-center">Sign In</h5>
  <div class="card-body bg-dark-grey text-white">
    <form action="/" method="POST">
      <div class="form-group">
        <label for="usr">Username</label>
        <input type="text" class="form-control bg-light-grey" [(ngModel)]="username" id="usr" name="username"
          placeholder="Username">
      </div>
      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" class="form-control bg-light-grey" [(ngModel)]="password" id="pwd" name="pwd"
          placeholder="Password">
      </div>
      <button type="submit" class="btn btn-blue aligncenter" (click)="signIn()">SIGN IN</button>
      <div class="aligncenter" style="color:red;">{{errorMsg}}</div>
    </form>
  </div>
</div>
<br><br><br>

<div style="text-align: center;">Username & Password for logging in:</div>
<br>
<table style="margin: auto;" border="1">
  <tr>
    <th>Username</th>
    <th>Password</th>
  </tr>
  <tr>
    <td>alterego</td>
    <td>alterego</td>
  </tr>
  <tr>
    <td>superego</td>
    <td>superego</td>
  </tr>
</table>