<h1 align="center" class="update-employee">Update Employee</h1>

<div align="center" class="update-employee-form">
    <label for="name">Name</label>
    <input type="text" id="name" [(ngModel)]="employee.name" [value]="employee.name">
    <br>
    <label for="age">Age</label>
    <input type="text" id="age" [(ngModel)]="employee.age" [value]="employee.age">
    <br>
    <label for="email">Email</label>
    <input type="text" id="email" [(ngModel)]="employee.email" [value]="employee.email">
    <br><br>
    <button type="button" class="btn btn-primary" (click)="onUpdate()" [disabled]="validateForm()">UPDATE</button>
    <button type="button" class="btn btn-txt-blue" (click)="onCancel()">CANCEL</button>
</div>