.card-link {
    color: inherit;
    text-decoration: inherit;
}

.btn {
    color: white !important;
}

.card:hover {
    border-color: #2196f3;
    border-width: thin;
}


.item-description {
    height: 6em;
}