<h1 class="new-employee" align="center">New Employee</h1>

<div class="new-employee-form" align="center">
    <label for="name">Name</label>
    <input type="text" id="name" placeholder="Name" [(ngModel)]="employee.name">
    <br>
    <label for="age">Age</label>
    <input type="text" id="age" placeholder="Age" [(ngModel)]="employee.age">
    <br>
    <label for="email">Email</label>
    <input type="text" id="email" placeholder="Email" [(ngModel)]="employee.email">
    <br><br>
    <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="validateForm()">ADD</button>
    <button type="button" class="btn btn-txt-blue" (click)="onCancel()">CANCEL</button>
</div>