.new-employee {
    margin-top: 2em;
}

.new-employee-form {
    margin-top: 3em;
}

#name, #age, #email {
    margin: auto;
}

.new-employee-form label {
  display: inline-block;
  width: 30px;
  text-align: right;
  margin-right: 50px;
}

.new-employee-form input {
    border-top: none;
    border-right: none;
    border-left: none;
    width: 300px;
    padding-top: 1em;
}

.btn-txt-blue {
    color: #0c7cd5;
}