.bg-blue {
    background-color: #2196f3;
}

.active {
    background-color: #0c7cd5;
}

.nav-link {
    color: white !important;
    padding-top: 18px;
    padding-bottom: 18px;
}

.rm-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    padding-top: 16px;
    padding-bottom: 16px;
}